<!--<p>Lijst van projecten</p>-->
<p *ngIf="!connected()" >u moet zich eerst inloggen </p>

<div *ngIf="connected()">

  <mat-form-field appearance="fill">
    <mat-label>Kies periode</mat-label>
    <mat-date-range-input [formGroup]="entityForm" [rangePicker]="picker">
      <input matStartDate formControlName="startDate" placeholder="Startdatum">
      <input matEndDate formControlName="endDate" placeholder="Einddatum">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-button-toggle (click)="submit()" >Kiezen</mat-button-toggle>

  <button mat-raised-button (click)="add()">Project toevoegen</button>

  <div *ngIf="filteredOngoingProjects">
    <table mat-table [dataSource]="filteredOngoingProjects" class="mat-elevation-z8">
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef>Project</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef>Klant</th>
        <td mat-cell *matCellDef="let element">{{element.clientName}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Omschrijving</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>

      <ng-container matColumnDef="hourlyRate">
        <th mat-header-cell *matHeaderCellDef>Prijs per uur</th>
        <td mat-cell *matCellDef="let element">{{element.hourlyRate | currency :'EUR':'symbol':'1.2-2':'nl-BE'}}</td>
      </ng-container>

      <caption mat-caption>Lopende projecten</caption>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


  <div *ngIf="filteredAllProjects">
    <table mat-table [dataSource]="filteredAllProjects">
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef>Project</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef>Klant</th>
        <td mat-cell *matCellDef="let element">{{element.clientName}}</td>
      </ng-container>

      <ng-container matColumnDef="hourlyRate">
        <th mat-header-cell *matHeaderCellDef>Prijs per uur</th>
        <td mat-cell *matCellDef="let element">{{element.hourlyRate | currency :'EUR':'symbol':'1.2-2':'nl-BE'}}</td>
      </ng-container>

      <caption mat-caption>Alle projecten</caption>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>





