<div *ngIf="connected()">


  <mat-form-field appearance="fill">
    <mat-label>Kies periode</mat-label>
    <mat-date-range-input [formGroup]="entityForm" [rangePicker]="picker">
      <input matStartDate formControlName="startDate" placeholder="Startdatum">
      <input matEndDate formControlName="endDate" placeholder="Einddatum">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <br>
  </mat-form-field>

  <mat-button-toggle (click)="submit()" >Kiezen</mat-button-toggle>

  <table mat-table [dataSource]="filteredProjects">
    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef> Naam  </th>
      <td mat-cell *matCellDef="let project"> {{project.name}} </td>
    </ng-container>
    <ng-container matColumnDef=clientName>
      <th mat-header-cell *matHeaderCellDef> Cliënt </th>
      <td mat-cell *matCellDef="let project"> {{project.clientName}} </td>
    </ng-container>
    <ng-container matColumnDef=description>
      <th mat-header-cell *matHeaderCellDef> Beschrijving </th>
      <td mat-cell *matCellDef="let project"> {{project.description}} </td>
    </ng-container>
    <ng-container matColumnDef="showInvoices">
      <th mat-header-cell *matHeaderCellDef> Facturatie </th>
      <td mat-cell *matCellDef="let project" ><mat-button-toggle (click)="showInvoices(project.id)" >Laat facturen zien</mat-button-toggle></td>
    </ng-container>

    <caption mat-caption> Projecten</caption>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <br>

  <div *ngIf="ongoingInvoices" >
  <table mat-table [dataSource]="ongoingInvoices">
    <ng-container matColumnDef=clientName>
      <th mat-header-cell *matHeaderCellDef> Cliënt </th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.clientName}} </td>
    </ng-container>
    <ng-container matColumnDef=projectName>
      <th mat-header-cell *matHeaderCellDef> Project</th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.projectName}} </td>
    </ng-container>
    <ng-container matColumnDef=date>
      <th mat-header-cell *matHeaderCellDef> Datum</th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.date | dateToMonth}} </td>
    </ng-container>
    <ng-container matColumnDef=totalPrice>
      <th mat-header-cell *matHeaderCellDef> Totale prijs</th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.totalPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="finalise">
      <th mat-header-cell *matHeaderCellDef> Afsluiten </th>
      <td mat-cell *matCellDef="let invoice" ><button mat-button [disabled]="afterInvoiceDate(invoice.date)" (click)="finalise(invoice.id)" >Factuur afsluiten</button></td>
    </ng-container>

    <caption mat-caption>Lopende projecten</caption>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsOngoingInvoices"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsOngoingInvoices;"></tr>
  </table>
  </div>

  <br>

  <div *ngIf="historyInvoices">
  <table  mat-table [dataSource]="historyInvoices">

    <ng-container matColumnDef=clientName>
      <th mat-header-cell *matHeaderCellDef> Cliënt </th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.clientName}} </td>
    </ng-container>
    <ng-container matColumnDef=projectName>
      <th mat-header-cell *matHeaderCellDef> Project</th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.projectName}} </td>
    </ng-container>
    <ng-container matColumnDef=date>
      <th mat-header-cell *matHeaderCellDef> Datum</th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.date | dateToMonth}} </td>
    </ng-container>
    <ng-container matColumnDef=totalPrice>
      <th mat-header-cell *matHeaderCellDef> Totale prijs</th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.totalPrice}} </td>
    </ng-container>


    <caption mat-caption> Afgesloten facturen</caption>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsClosedInvoices"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsClosedInvoices;"></tr>
  </table>
  </div>


  </div>

