<div>
  <!-- Timer with existing times today -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="start time">
      <th mat-header-cell *matHeaderCellDef>Begin</th>
      <td mat-cell *matCellDef="let element">{{element.startTime}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="end time">
      <th mat-header-cell *matHeaderCellDef>Einde</th>
      <td mat-cell *matCellDef="let element" > {{element.endTime}}</td>
    </ng-container>

    <ng-container matColumnDef="time worked">
      <th mat-header-cell *matHeaderCellDef>Gewerkte tijd</th>
      <td mat-cell *matCellDef="let element" >{{element.timeWorkedMin | minsToHrMins}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>

  </table>
</div>

<div>
  <button mat-raised-button (click)="startDay()">Begin werkdag</button>
  <button mat-raised-button (click)="endDay()">Stop werkdag</button>
</div>

