<nav>
  <div>
    <ul >
      <li>
        <span>TRS</span>
      </li>
    </ul>
  </div>
  <div>
  <ul *ngIf="userConnected()">
    <li>
      <a class="middle-nav" routerLink="/agenda/check">Agenda</a>
    </li>
    <li *ngIf="isConsultant()">
      <a class="middle-nav" routerLink="/time-registration">Tijdsregistratie</a>
    </li>
    <li *ngIf="isAccountant()">
      <a class="middle-nav"  routerLink="/salaries">Salarissen</a>
    </li>
    <li *ngIf="isManager()">
      <a class="middle-nav"  routerLink="/analyze">Statistieken</a>
    </li>
  </ul>
  </div>

  <div>
  <ul *ngIf="userConnected()" class="right-nav">
    <li>
      {{user.firstName | titlecase }} {{user.lastName | titlecase}}
    </li>
    <li>
      <span > {{user.firstName}} {{user.lastName}}</span>
    </li>
    <li>
      <a (click)="disconnect()">Logout</a>
    </li>
  </ul>
  </div>
</nav>
