nav {
  background-color: #049ACC;/* #049ACC is blauw  #7dba00  (green)  and darkgrey was oorspronkelijk*/
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  padding : 0;
  list-style-type: none;
  font-weight: bold;
  display: flex;


}
ul li {
  padding-left : 15px;
  padding-top : 10px;
  display: flex;
  flex-direction: row;
}
a {
  color: black;
  font-size: 20px;
  text-decoration: none;

}
.middle-nav{

}
span {
  color: black;
  font-size: 20px;
  text-decoration: none;

}
a:hover {
  color : darkgreen;
  text-decoration: underline;
}

.master {
  text-decoration: underline;
}

.right-nav {
  margin-right: auto;
  text-decoration: gray;
}

.active{
  font-size: 36px;
}
