<nav>
  <div>
    <ul >
      <!--
      <li>
        <img src="abislogo.svg" alt="logo">
      </li>
      -->
      <li>
        <span>TRS</span>
      </li>
    </ul>
  </div>
  <div>
  <ul *ngIf="userConnected()">
    <li>
      <a class="middle-nav" routerLink="/agenda/check" [routerLinkActive]="['active']">Agenda</a>
    </li>
    <li *ngIf="isConsultant()">
      <a class="middle-nav" routerLink="/time-registration" [routerLinkActive]="['active']">Tijdsregistratie</a>
    </li>
    <li *ngIf="isAccountant()">
      <a class="middle-nav"  routerLink="/salaries" [routerLinkActive]="['active']">Salarissen</a>
    </li>
    <li *ngIf="isManager()">
      <a class="middle-nav"  routerLink="/analyze" [routerLinkActive]="['active']">Statistieken</a>
    </li>
    <li *ngIf="isManager()">
      <a class="middle-nav" routerLink="/projects" [routerLinkActive]="['active']">Projecten</a>
    </li>
  </ul>
  </div>

  <div>
  <ul *ngIf="userConnected()" class="right-nav">
    <li>
      <span>{{user.firstName | titlecase }} {{user.lastName | titlecase}}</span>
    </li>

    <li>
      <a (click)="disconnect()">Logout</a>
    </li>
  </ul>
  </div>
</nav>
