table{
  width: 100%;

}

.mat-column-project {
  word-wrap: break-word !important;
  white-space: unset !important;

  width: 200px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-category {
  word-wrap: break-word !important;
  white-space: unset !important;

  width: 200px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.top{
  display: flex;
  justify-items: center;
  justify-content: space-between;
}
.but{
  height: 50%;
}


.mat-column-edit {
  word-wrap: break-word !important;
  white-space: unset !important;

  width:140px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-delete{
  word-wrap: break-word !important;
  white-space: unset !important;

  width: 140px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
